@import "tailwindcss";

:root {
  --background: #F4F6F9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5em;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: .98em;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2em;
  font-family: var(--font-poppins), sans-serif;
  color: #171717;
}

nav ul li a.active {
  font-weight: bold;
  color: #C9A227;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: .2em;
}

.input-group label {
  font-size: .8em;
  font-weight: bold;
  font-family: var(--font-roboto), sans-serif;
}