.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.container,
.image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    background-color: #bfceff;
}